openstacksdk==0.99.0
keystoneauth1==4.6.0
matplotlib==3.5.2
networkx==2.8.4
pandas==1.4.3
python-neutronclient==7.8.0
requests==2.28.1
python-keystoneclient==4.5.0
python-glanceclient==4.0.0
argparse==1.4.0
numpy==1.23.1
httplib2==0.20.4
gurobipy==9.5.2
chronicler==0.3
python-novaclient==18.0.0
flask==2.1.2
uwsgi==2.0.20
mysql-connector-python==8.0.29
ptvsd==4.3.2
